<!-- login_passenger.component.html -->
<div class="login-container">
  <mat-card class="login-card">
      <div class="header">
          <mat-icon class="login-icon" aria-hidden="false" aria-label="register-icon" fontIcon="login"></mat-icon>
          <mat-card-header>
              <mat-card-title class="title">Bienvenido!</mat-card-title>
              <mat-card-subtitle class="subtitle">Ingresa a tu cuenta</mat-card-subtitle>
          </mat-card-header>
      </div>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-input" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field class="form-input" appearance="outline" >
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'password'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
          </button>
        </mat-form-field>
          <div class="extra-options">
              <mat-checkbox formControlName="remember">Recuérdame</mat-checkbox>
              <a (click)="redirectToRecoverPassword()" class="link">¿Olvidaste tu contraseña?</a>
          </div>

        <div class="login-redirect-container">
            <button mat-raised-button color="primary" type="submit" class="login-button" (click)="redirectToApp()">Ingresar</button>
            <span>¿Aún no tienes una cuenta?
                <a class="link" (click)="redirectToRegister()"> Regístrate Aquí</a>
            </span>

        </div>
      </form>
    </mat-card-content>
      <button mat-button color="primary" type="submit" class="back-button" (click)="redirectToSelectType()">
          <mat-icon aria-hidden="false" aria-label="back-icon" fontIcon="arrow_back"></mat-icon>
          Regresar
      </button>
  </mat-card>
</div>

