.title{
  font-family: "MuseoModerno", sans-serif;
  margin-top: 10px;
}

.card {
  margin-top: 3px;
  width: 95%;
  margin-left: 10px;
}

.card-title{
  font-family: "MuseoModerno", sans-serif;
  color: red;
}

.card-subtitle{
  color: black;
}

@media (max-width: 768px) {
  .title{
    display: none;
  }
}
