<div class="selection-container">
    <mat-card class="selection-card">
        <mat-icon class="selection-icon" aria-hidden="false" aria-label="account-icon" fontIcon="account_circle"></mat-icon>
        <mat-card-header>
            <mat-card-title class="title">Bienvenido</mat-card-title>
            <mat-card-subtitle class="subtitle">Seleccione el tipo de usuario</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="selection-buttons-container">
            <button mat-button class="selection-button" routerLink="/login/driver">Conductor</button>
            <button mat-button class="selection-button" routerLink="/login/passenger">Pasajero</button>
        </mat-card-content>
    </mat-card>
</div>


