.selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D9D9D9;
}

.selection-card {
    width: 450px;
    margin: 0 20px;
    align-items: center;
    text-align: center;
}

.header{
    margin-top: 30px;
    display: inline-block;
}

.selection-icon{
    font-size: 50px;
    width: 50px;
    height: 45px;
    margin-top: 20px;
}

.title{
    font-weight: bold;
    font-family: "MuseoModerno", sans-serif ;
    margin-bottom: 4px;
}

.subtitle{
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.selection-buttons-container{
    display: inline-flex;
    gap: 20px;
}

.selection-button{
    width: 130px;
    font-weight: bold;
    font-size: 15px;
    background-color: #D9D9D9;
    color: black !important;
}