.title{
  font-family: "MuseoModerno", sans-serif ;
  text-align: center;
  margin-top: 10px;
}

.help-options{
  display: grid;
}

.search-input mat-form-field {
  width: 70vw;
}

.search-input button{
  border-radius: 10px;
  margin-left: 30px;
  background-color: #00933C;
}

.contact-btn{
  width: 350px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  background-color: #00933C !important;
  color: white !important;
}


@media (max-width: 768px) {
  .title{
    display: none;
  }

  .help-options{
    margin-left: 20px;
  }
}