.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CB9E00;
}

.register-card {
    width: 700px;
    margin: 0 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Header*/

.header{
    margin-top: 30px;
    display: inline-block;
}

.register-icon{
    font-size: 50px;
    width: 50px;
    height: 45px;
}

.title{
    font-weight: bold;
    font-family: "MuseoModerno", sans-serif ;
    margin-bottom: 4px;
}

.subtitle{
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

/*Inputs*/

.form{
    display: grid;
}

.two-input-line{
    display: inline-flex;
    gap: 20px;
}

.form-input{
    font-size:16px;
    width: 300px;
    border-color: #00933C !important;
}

.form-input-single{
    font-size:16px;
    width: 620px;
    border-color: #00933C !important;
}

/*Register Bottom*/
.register{
    width: 300px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #FFC700 !important;
    color: white !important;
}

/*Login Redirect*/

.login-redirect-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-link{
    color: #CB9E00;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}

/*Back Button*/
.back-button{
    width: 100%;
    color: #CB9E00 !important;
}

.back-button:hover{
    background-color: rgba(255, 199, 0, 0.5) !important;
    color: white !important;
}

@media (max-width: 768px) {
    .register-icon {
        display: none;
    }

    .header{
        margin-top: 0;
    }

    .form-input{
        width:150px;
        margin-bottom: -5px;
    }

    .form-input-single{
        width: 320px;
        margin-bottom: -5px;
    }
}
