.title{
  font-family: "MuseoModerno", sans-serif ;
  text-align: center;
  margin-top: 10px;
}

.complete-name{
  font-family: "MuseoModerno", sans-serif;
  overflow: hidden;
}

.configuration-card {
  width: 600px;
  box-shadow: none;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-section {
  flex: 1;
}

.right-section {
  margin-top: 40px;
}

.profile-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.change-plan-button {
  color: white;
  background-color: #0066FF;
  font-size: 10px;
  height: 20px;
}

.adjust-button{
  background-color: #0066FF;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.save-button{
  background-color: #00933C;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.edit-container-input{
  width: 100%;
}

@media (max-width: 768px) {
  .title{
    display: none;
  }

  .configuration-card {
    width: 90vw;
    box-shadow: none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .right-section {
    margin-top: 20px;
  }
}
