.history-table-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.demo-row-is-clicked {
  font-weight: bold;
}
.title{
  font-family: "MuseoModerno", sans-serif ;
  text-align: center;
  margin-top: 10px;
}

.history-table {
  height: 100px;
}

.history-table th {
  font-family: 'Montserrat', sans-serif;
  background-color: #00933C;
  color: white;
}

.history-table td {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 20%;
}

@media (max-width: 768px) {
  .title{
    display: none;
  }

  .history-table-container {
    width: 100%;
    max-width: none;
  }

  .history-table {
    margin-top: 30px;
  }
}

