<div class="recover-container">
    <mat-card class="recover-card">
        <div class="header">
            <mat-icon class="register-icon" aria-hidden="false" aria-label="register-icon" fontIcon="lock_reset"></mat-icon>
            <mat-card-header>
                <mat-card-title class="title">Recupera tu contraseña</mat-card-title>
                <mat-card-subtitle class="subtitle">Ingresa tu email</mat-card-subtitle>
            </mat-card-header>
        </div>


        <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="input" appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
            <button mat-raised-button color="primary" class="register" (click)="redirectToLogin()">Enviar un link de recuperación</button>
        </form>
    </mat-card>
</div>
